.navbar {
    width: auto;
    height: 64px;
    background-color: #0C0A33;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 15px;
}

.navbar_buttons {
    margin-left: 12px;
    width: 40px;
    height: 40px;
    background-color: #1D1B41;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_Logo {
    margin-left: 16px;
    margin-top: 5px;
}

.navbar_coinRate {
    margin-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 253px;
    height: 55px;
    background: rgb(118,88,149);
    background: linear-gradient(90deg, rgba(118, 88, 149, 0.29) 0%, rgba(12,10,51,1) 100%);
}

.navbar_coinRate_logo {
    margin-top: 12px;
}

.navbar_coinRate_rate {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar_coinRate_rate_name {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
}

.navbar_coinRate_rate_value {
    width: 92%;
    color: rgba(255,255,255, 80%);
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    font-family: "Geometria", sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.navbar_coinRate_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #F7FC00, #FFEA31);
    border-radius: 11px;
    width: 75px;
    height: 42px;
    font-family: "Geometria", sans-serif;
    font-weight: 700;
    margin-left: auto;
    font-size: 12px;
    margin-right: 10px;
}

.navbar_fill {
    flex-basis: 37.5%;
}

.navbar_language_button {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1D1B41;
    border-radius: 11px;
    width: 108px;
    height: 42px;
    justify-content: space-around;
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

.navbar_login {
    width: 90px;
    height: 42px;
    border-radius: 11px;
    background: linear-gradient(180deg, #28105F, #1B0C4B);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Geometria", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
}

.navbar_signup {
    width: 99px;
    height: 42px;
    border-radius: 11px;
    background: linear-gradient(180deg, #9D42F8, #7F00FF);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Geometria", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 5px;
}